{% extends 'base.html' %}

{% block content %}

    

    <h1 data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">CATEGORÍAS</h1>

    
    <section class="mostrar-categorias">
        <ul>               
            <li>
                <a href="categoria.html?cat=Gabinetes">
                    <img src="/static/img/productos/gabinete - xtendia.jpg" alt="Gabinetes">
                    <figcaption>
                        Gabinetes
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Tarjetas%20madre">
                    <img src="/static/img/productos/tarjeta madre - b450  AMD -gigabyte.jpg" alt="Tarjetas%20madre">
                    <figcaption>
                        Tarjetas madre
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Procesadores">
                    <img src="/static/img/productos/procesador - Ryzen 5 5600x.jpg" alt="Procesadores">
                    <figcaption>
                        Procesadores
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Almacenamiento">
                    <img src="/static/img/productos/ssd 2tb - wdblue.jpg" alt="Almacenamiento">
                    <figcaption>
                        Almacenamiento
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Memorias%20RAM">
                    <img src="/static/img/productos/memoria ram 8gb ddr4 - kingston fury.jpg" alt="Memorias%20RAM">
                    <figcaption>
                        Memorias RAM
                    </figcaption>
                </a>
            </li>                                              
            <li>
                <a href="categoria.html?cat=Tarjetas%20de%20vídeo">
                    <img src="/static/img/productos/tarjeta gráfica - amd - rx 5600 xt.jpg" alt="Tarjetas%20de%20vídeo">
                    <figcaption>
                        Tarjetas de vídeo
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Fuentes%20de%20alimentación">
                    <img src="/static/img/productos/fuente de poder - corsair - cx550.jpg" alt="Fuentes%20de%20alimentación">
                    <figcaption>
                        Fuentes de alimentación
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Ventiladores%20y%20enfriamiento">
                    <img src="/static/img/productos/ventilador - cooler master.jpg" alt="Ventiladores%20y%20enfriamiento">
                    <figcaption>
                        Ventiladores y enfriamiento
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Monitores">
                    <img src="/static/img/productos/monitor 1080  144hz - benq zowie XI2411k.jpg" alt="Monitores">
                    <figcaption>
                        Monitores
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Teclados">
                    <img src="/static/img/productos/teclado latino - logitech.jpg" alt="Teclados">
                    <figcaption>
                        Teclados
                    </figcaption>
                </a>
            </li>                              
            <li>
                <a href="categoria.html?cat=Ratones">
                    <img src="/static/img/productos/mouse - logitech g203.jpg" alt="Ratones">
                    <figcaption>
                        Ratones
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Audífonos%20y%20bocinas">
                    <img src="/static/img/productos/bocinas - logitech.jpg" alt="Audifonos%20y%20bocinas">
                    <figcaption>
                        Audifonos y bocinas
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=Controles para videojuegos">
                    <img src="/static/img/productos/controles para videojuego.jpg" alt="Controles para videojuegos">
                    <figcaption>
                        Controles para videojuegos
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=cables%20y%20adaptadores">
                    <img src="/static/img/productos/cable hdmi.jpg" alt="cables">
                    <figcaption>
                        Cables y adaptadores
                    </figcaption>
                </a>
            </li>
            <li>
                <a href="categoria.html?cat=accesorios">
                    <img src="/static/img/productos/rgb para pc.jpg" alt="accesorios">
                    <figcaption>
                        Accesorios
                    </figcaption>
                </a>
            </li>               
        </ul>
    </section>

{% endblock %}