{% extends 'base.html' %}

{% block content %}

<h1 id="titulo">Perfil de {{user.username}}</h1>

{% if user.is_authenticated %}
    <div class="menu_perfil_usuario">

        <ul>

            {% if user.is_staff %}
                <!-- Menú para superusuario -->
                <li>
                    <a class="boton_perfil_usuario" href="{% url 'perfil_rh' %}">Perfil RH</a>
                </li>
                
                {%if user.is_superuser%}
                    <li>
                        <a class="boton_perfil_usuario" href="{% url 'contabilidad' %}">Contabilidad</a>
                    </li>
                    <li>
                        <a class="boton_perfil_usuario" href="{% url 'almacen' %}">Almacén</a>
                    </li>
                    <li>
                        <a class="boton_perfil_usuario" href="{% url 'recursos_humanos' %}">Recursos Humanos</a>
                    </li>
                    <li>
                        <a class="boton_perfil_usuario" href="{% url 'mercadotecnia' %}">Mercadotecnia</a>
                    </li>
                    <li>
                        <a class="boton_perfil_usuario" href="{% url 'reportes_internos' %}">Reportes internos</a>
                    </li>
                {% elif user.empleado.area_trabajo == "Contabilidad" %}
                    <script>
                        window.location.href="{% url 'almacen' %}"
                    </script>

                {% else %}
                    <script>
                        window.location.href="{% url 'contabilidad' %}"
                    </script>

                {% endif %}


            
            {% else %}
                <!-- Menú para usuarios regulares -->
            <li>
                <a class="boton_perfil_usuario" href="{% url 'pedidos' %}">Pedidos</a>
            </li>
            <li>
                <a class="boton_perfil_usuario" href="{% url 'configuracion_cuenta' %}">Configuración de la cuenta</a>
            </li>
            <li>
                <a class="boton_perfil_usuario" href="{% url 'metodos_pago' %}">Métodos de pago</a>
            </li>
            <li>
                <a class="boton_perfil_usuario" href="{% url 'lista_deseados' %}">Lista de deseados</a>
            </li>
    
            {% endif %}
        </ul>


    </div>
{% endif %}

{% endblock %}